In [16]:
# p330

from pandas import Series,DataFrame
from numpy import nan as NA
import numpy as np
import pandas as pd

df=DataFrame({"name":["kim","lee","bae","cho","kang"],"sex":[1,2,2,1,1],"home":["마포","수지","처인","용산","종로"],"income" :[250,195,325,210,274]})

df.index=df.index.map({0:"st1",1:"st2",2:"st3",3:"st4",4:"st5"})
df.columns=df.columns.map({"name":"fn","sex":"gender","home":"house","income":"ic"})

df

df1=df.rename(index={"st1":"foreigner"},columns={"fn":"name","ic":"income"})

print(df1)

df.rename(index={"st1":"foreigner"},columns={"fn":"name","ic":"income"},inplace=True)
df

           name  gender house  income
foreigner   kim       1    마포     250
st2         lee       2    수지     195
st3         bae       2    처인     325
st4         cho       1    용산     210
st5        kang       1    종로     274

           name  gender house  income
foreigner   kim       1    마포     250
st2         lee       2    수지     195
st3         bae       2    처인     325
st4         cho       1    용산     210
st5        kang       1    종로     274

In [22]:
#p332

from pandas import Series,DataFrame
from numpy import nan as NA
import numpy as np
import pandas as pd

np.random.seed(951753)
s=np.random.binomial(n=10,p=0.5,size=100)
cls=[0,2,4,6,8,10]

s_cls1=pd.cut(x=s,bins=cls,include_lowest=True,right=True)
print(s_cls1)

pd.value_counts(s_cls1)

s_cls2=pd.cut(x=s,bins=4,labels=["class1","class2","class3","class4"])
print(s_cls2)
pd.value_counts(s_cls2)

[(4.0, 6.0], (4.0, 6.0], (4.0, 6.0], (4.0, 6.0], (2.0, 4.0], ..., (4.0, 6.0], (2.0, 4.0], (2.0, 4.0], (2.0, 4.0], (2.0, 4.0]]
Length: 100
Categories (5, interval[float64]): [(-0.001, 2.0] < (2.0, 4.0] < (4.0, 6.0] < (6.0, 8.0] < (8.0, 10.0]]
[class3, class3, class3, class3, class2, ..., class3, class2, class2, class2, class2]
Length: 100
Categories (4, object): [class1 < class2 < class3 < class4]

class3    43
class2    33
class4    18
class1     6
dtype: int64

In [24]:
#p334 각각 동일한 비율 갖게 계급 만들기

from pandas import Series,DataFrame
from numpy import nan as NA
import numpy as np
import pandas as pd

np.random.seed(951753)
s=np.random.normal(loc=10,scale=3,size=100)

s_cls1=pd.qcut(x=s,q=6)
print(s_cls1)

pd.value_counts(s_cls1)

[(12.543, 16.846], (3.043, 7.54], (11.535, 12.543], (11.535, 12.543], (7.54, 9.017], ..., (11.535, 12.543], (3.043, 7.54], (3.043, 7.54], (9.017, 10.425], (11.535, 12.543]]
Length: 100
Categories (6, interval[float64]): [(3.043, 7.54] < (7.54, 9.017] < (9.017, 10.425] < (10.425, 11.535] < (11.535, 12.543] < (12.543, 16.846]]

(12.543, 16.846]    17
(10.425, 11.535]    17
(7.54, 9.017]       17
(3.043, 7.54]       17
(11.535, 12.543]    16
(9.017, 10.425]     16
dtype: int64

In [30]:
#335 특이값 찾기 및 제외

from pandas import Series,DataFrame
from numpy import nan as NA
import numpy as np
import pandas as pd

np.random.seed(91736482)
df=DataFrame(np.random.randn(500,4),columns=["v1","v2","v3","v4"])
df.describe()

col=df["v3"]
col[np.abs(col)>3]
df[(np.abs(df)>3).any(1)]

#-3<  or  >3  일때 3으로 대체

df[(np.abs(df)>3)]=np.sign(df)*3

           v1        v2        v3        v4
74   3.128487 -0.220302 -1.611062  0.143425
84  -0.607007 -0.523714 -3.112520  0.448497
90   0.367416 -1.196249  3.262756  0.071504
131  1.465023  2.299033  0.212082  3.528537
207  1.284202 -3.399291 -0.144366 -1.869674
435 -3.456706 -0.569109 -0.966048 -1.557567

In [37]:
#p336 더미 변수 사용

from pandas import Series,DataFrame
from numpy import nan as NA
import numpy as np
import pandas as pd

df=DataFrame({"name":["kim","lee","bae","cho","kang"],"sex":["m","f","m","f","m"],"home":["마포","수지","처인","용산","종로"],"income" :[250,195,325,210,274]})

sex_dummy=pd.get_dummies(df["sex"])
sex_dummy

   f  m
0  0  1
1  1  0
2  0  1
3  1  0
4  0  1